body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    font-family: "Open Sans";
    border-top: 5px solid #7e7e7e;
    margin: 0;
    background: white;
}

img {
    border: 0;
}

input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: "Open Sans";
}

nav {
    background: #f3f3f3;
    background: black;
    border: 1px solid #e7e7e7;
}

#wrapper {
    left: 164;
    width: 1249px;
    max-width: 1579px;
    margin: auto;
}

header {
    padding: 20px 0;
}

section {
    margin-left: 280px;
    padding-bottom: 50px;
}

footer {
    background-color: #7e7e7e;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px "Oswald", sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu li.active {
    background: red;
    color: #fff;
}

.top-menu a {
    color: white;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
    border: none;
}

.aside-menu li.active {
    color: #29c5e6;
}

.aside-menu a {
    color: #8f8f8f;
}

blockquote {
    margin: 0;
    background: #29c5e6;
    padding: 10px 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}

blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #1d8ea6;
    margin: 0;
    text-align: right;
}

figure {
    display: inline-block;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

figure img {
    display: block;
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
}

section>figure+figure {
    margin-left: 28px;
}

p {
    margin: 20px 0;
}

section>h2 {
    background: #29c5e6;
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
}

figure figcaption {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

figure figcaption span {
    display: block;
    font-size: 14px;
    color: #29c5e6;
}

.team-row figure {
    margin-top: 20px;
}

.team-row figure+figure {
    margin-left: 43px;
}

#sitemap {
    width: 150px;
    float: left;
    margin-left: 20px;
    padding-right: 15px;
}

#sitemap div {
    display: inline-block;
}

#sitemap div+div {
    margin-left: 40px;
}

#sitemap a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}

#sitemap a:hover {
    text-decoration: underline;
}

/*
.rss {
  background-position: -64px 0;
}
*/

/* block-1 */
#block-1 {
    background: #f6f2f2;
    margin: 0px 0;
    padding-left: 0px;
    height: 500px;
}

.block-1-left {
    position: absolute;
    height: 356px;
    margin-top: 5px;
    display: inline-block;
    color: #000;
    text-align: left;
    width: 25%;
    font-size: 12px;
    font-weight: 3500;
}

.block-1-left p {
    color: black;
    font-family: "Open Sans";
    font-size: 56px;
    font-weight: 1000;
}

a.button-1 {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    margin-top: 40px;
    font-weight: 600;
}

.block-1-right {
    width: 500px;
    height: 356px;
    margin-top: 40px;
    display: inline-block;
    color: #000;
    text-align: center;
    width: 48%;
}

#square-1 {
    position: absolute;
    width: 551px;
    height: 356px;
    top: 221;
    left: 864px;
    display: inline-block;
    background: #fa020f;
}

#square-2 {
    position: absolute;
    width: 70px;
    height: 69px;
    top: 365;
    left: 1105px;
    display: inline-block;
    background: pink;
}

/* block-2 */
#block-2 {
    background: white;
    margin: 0px 0;
    padding-left: 0px;
    width: 1251px;
    height: 488px;
}

#block-2 h2 {
    font-size: 48;
    font-weight: 1000;
}

#block-2 h4 {
    font-size: 12;
    font-weight: 100;
}

a.button-2 {
    position: absolute;
    display: inline-block;
    background: white;
    color: rgb(253, 6, 6);
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    font-weight: 600;
    margin-top: 180px;
    border: 2px solid red;
}

.block-2-left {
    position: absolute;
    height: 356px;
    margin-top: 5px;
    display: inline-block;
    color: #000;
    text-align: left;
    width: 300px;
    font-size: 12px;
    font-weight: 3500;
}

.block-2-right {
    position: absolute;
    height: 356px;
    margin-top: 5px;
    display: inline-block;
    color: #000;
    text-align: left;
    width: 25%;
    font-size: 12px;
    font-weight: 3500;
}

#management {
    position: absolute;
    width: 230px;
    height: 160px;
    top: 221;
    left: 650px;
    display: inline-block;
    background: white;
    margin-top: 10px;
    margin-left: -10px;
}

#branding {
    position: absolute;
    width: 230px;
    height: 160px;
    top: 365;
    left: 1105px;
    display: inline-block;
    background: white;
    margin-top: 180px;
    margin-left: -465px;
}

#design {
    position: absolute;
    width: 230px;
    height: 160px;
    top: 221;
    left: 864px;
    display: inline-block;
    background: white;
    margin-top: 10px;
    margin-left: 40px;
}

#animation {
    position: absolute;
    width: 230px;
    height: 160px;
    top: 365;
    left: 1105px;
    display: inline-block;
    background: white;
    margin-top: 180px;
    margin-left: -200px;
}

.block-2-right_line {
    position: absolute;
    width: 1130px;
    border: none;
    margin-top: 430px;
    margin-left: 0px;
    display: inline-block;
}

.block-2-right_line_line hr {
    color: #c7c7c7;
}

/* block-3 */
#block-3 {
    position: relative;
    background: white;
    margin: 0px 0;
    padding-left: 0px;
    width: 1251px;
    height: 788px;
}

.block-3-center {
    margin: 0px auto;
    padding-left: 0px;
    width: 450px;
    height: 500px;
    text-align: center;
    color: black;
}

.feature-2 {
    height: 100px;
    width: 800px;
    position: absolute;
    top: -410px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: black;
    /*overflow: auto;*/
}

.tile-1 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: -100px;
    right: 76%;
    bottom: 0;
    left: 10;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

.tile-2 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: -100px;
    right: 55%;
    bottom: 0;
    left: 161;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

.tile-3 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: -100px;
    right: 34%;
    bottom: 0;
    left: 161;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

.tile-4 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: -100px;
    right: 13%;
    bottom: 0px;
    left: 161;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

.tile-5 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: 430px;
    right: 13%;
    bottom: 0;
    left: 10;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

.tile-6 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: 430px;
    right: 34%;
    bottom: 0;
    left: 161;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

.tile-7 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: 430px;
    right: 55%;
    bottom: 0;
    left: 161;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

.tile-8 {
    height: 240px;
    width: 240px;
    position: absolute;
    top: 430px;
    right: 76%;
    bottom: 0px;
    left: 161;
    margin: auto;
    overflow: auto;
    background-color: #5281ff;
}

/* Footer */
footer {
    background: black;
    color: #dbdbdb;
    font-size: 11px;
}

#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}

.copy-1 {
    background-position: 0 0;
}

#social {
    float: right;
    margin-left: 20px;
    width: 280px;
}

.social-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.facebook {
    background-position: -30px 0;
}

.google-plus {
    background-position: -60px 0;
}

footer h3 {
    color: #fff;
    border-bottom: 1px solid #919191;
    margin: 0 0 10px 0;
}

footer a {
    color: #dbdbdb;
}

footer p {
    margin: 5px 0;
}

#linkedin {
    padding-right: 30px;
}

/* Иконки */
.icon-style {
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
    float: right;
    background: #f6f2f2;
}

.icon-style:hover {
    background-color: rgb(233, 233, 229);
}